.header {
  height: 60px;
  padding: 15px 20px;
}

#login-btn{
  margin-top: 15px;
  float: right;
  font-weight: bold;
  color: rgb(66, 48, 36);
  text-decoration: none;
  cursor: pointer;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}

#login-btn:hover{
  color: rgb(63, 124, 80);
}

.logo-icon {
  background-image: url("forerunner_logo.png");
  background-repeat: no-repeat;
  width: 45px;
  height: 46px;
}

.logo-text {
  background-image: url("forerunner_logo_text.png");
  width: 103px;
  height: 16px;
  background-repeat: no-repeat;
  margin-top: 15px;
}

.header .logo-icon,
.header .logo-text{
  float: left;
  padding: 0 5px;
}