a{
  color: rgb(66, 48, 36);
  text-decoration: none;
}

a:hover{
  color: rgb(63, 124, 80);
}

body{
  font-family: 'arial';
  color: rgb(66, 48, 36);
  margin: 0px;
}

.main{
  width: 100%;
  min-height: 600px;
  background-color: rgb(66, 48, 36);
  color: rgb(229, 216, 200);
  -moz-box-shadow:    inset -5px -5px 60px rgb(46, 28, 16);
  -webkit-box-shadow: inset -5px -5px 60px rgb(46, 28, 16);
  box-shadow:         inset -5px -5px 60px rgb(46, 28, 16);
}
